brew bundle --file=Brewfile

source scripts/configure-rust

export GIT_COMMIT_HASH=dev
export KCP_CONTAINER_NAME=lease2fip-hcloud-kcp-apiserver
export KUBECONFIG=admin.kubeconfig

touch "$KUBECONFIG"
